@charset "UTF-8";

body {
	font-family: verdana, serif;
	color: black;
	font-size: 1em;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1.3em;
}

#main_wrapper {
	width: 1200px;
	margin: auto;
	border: none;
}

section {
	margin-top: 2em;
	padding-bottom: 0.5em;
}

.type2DiabetesFinder {
	width: 300px;
	text-align: center;
	font-size: 1.3em;
	color: white;
	background-color: #5d2573;
	padding: 12px 0 16px 0;
	border-radius: 10px;
}

a {
	color: #0275D8;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav li {
	margin-right: 15px;
	padding: 0 0 16px 0;
}

.athis {
	color: #902020;
	text-decoration: none;
}

a:hover, .athis:hover {
	text-decoration: underline;
}

.button {
	font-size: 1em;
	margin-left: 10px;
	margin-right: 0;
	margin-bottom: 20px;
	background-color: gold;
	border: none;
	padding: 8px 16px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
}

