<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          type="text/css"
          href="../static/css/error.css"
          th:href="@{/css/error.css}"/>
    <title>Error page</title>
</head>
<body>
<div id="main_wrapper" class="color" th:with="page='error'">
    <header th:replace="~{header::header(${page})}"></header>
    <div class="error" th:text="${errorMessage}">INTERNAL SERVER ERROR</div>
    <p><a th:href="@{/}">
        <button class="button" type="button">Back to Home Page</button>
    </a></p>
</div>
</body>
</html>