<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link  rel="stylesheet" type="text/css" href="../static/css/header.css" th:href="@{/css/login.css}" />
        <title>Header</title>
    </head>
    <body>
        <header th:fragment="header(page)">
            <div class="type2DiabetesFinder">Type 2 Diabetes Finder</div>
            <nav sec:authorize="isAuthenticated()">
                <ul>
                    <li><a th:class="${#strings.equals(page, 'home')}?'athis'" href="/" th:href="@{/}">Home</a></li>
                    <!--ToDo <li><a href="/user/logoff" th:href="@{/user/logoff}">Log&nbsp;Off</a></li>-->
                </ul>
            </nav>
            <nav sec:authorize="!isAuthenticated()" th:if="${#strings.equals(page, 'home')}">
                <ul>
                    <li><a th:class="${#strings.equals(page, 'home')}?'athis'" href="/" th:href="@{/}">Home</a></li>
                    <li><a th:class="${#strings.equals(page, 'login')}?'athis'" href="/login" th:href="@{/login}">Login</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>